{% extends "GOODstime/base.html" %}
{% load django_bootstrap5 %}

{% load static %}

{% block title %}パスワードリセット{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">パスワードリセット</h1>
            {% if user.id_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用のメールを送信します</p>

            <form action="{% url 'account_reset_password' %}" method="post">

                {% csrf_token %}
                {% bootstrap_form form %}

                <button class="btn btn-primary w-100 mt-4" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}