{% extends 'GOODstime/base.html' %}
{% load static %}
{% block title %}アカウント削除確認{% endblock %}

{% block contents %}
<div class="my-div-style">
    <div class="confirmation-box">
        <p>本当にアカウントを削除しますか？</p>
        <p>この操作は取り消しできません。</p>
    
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">削除する</button>
            <a href="{% url 'GOODstime:top' %}" class="btn btn-secondary">キャンセル</a>
        </form>
    </div>
</div>

{% endblock %}
